*,
*::before,
*::after {
    box-sizing: border-box;
}

.App {
    width: 100%;
    display: block;
    margin: auto;
    padding-top: 40px;
}
.container {
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #000;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
}
h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px;
    text-decoration: underline;
}
.colors-container {
    width: 100%;
    margin-top: 25px;
}
.fetch-btn {
    width: 250px;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    border: 3px solid #000;
    background-color: #fff;
    color: #000;
}
.fetch-btn:hover {
    transform: scale(1.1);
}
